@model UserIdentity.Models.ResetPasswordForgotViewModel
@{
    ViewBag.Title = "PasswordReset";
}

<h2>Reset Password</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="userId" value="@ViewBag.userId" />

    <div class="form-group">
        <label>New Password</label>
        @Html.PasswordFor(i => i.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control" })
    </div>

    <button class="btn btn-primary" type="submit">Reset Password</button>
}
