@model IEnumerable<UserIdentity.Models.Product>
@{
    ViewBag.Title = "List";
}

<h1>Product List</h1>
<hr>
<hr />

@Html.ValidationSummary()

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Product Information</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>@Html.DisplayName("Product Name")</th>
                    <th>@Html.DisplayName("Price")</th>
                    <th>@Html.DisplayName("Stock")</th>
                    <th>@Html.DisplayName("Brand")</th>
                    <th>@Html.DisplayName("Operation")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.ProductName</td>
                        <td>@String.Format("{0:N2} ₺", item.Price)</td>
                        <td>
                            <input type="checkbox" disabled="disabled" @(item.InStock ? "checked" : "") />
                        </td>
                        <td>
                            @item.Firm.FirmName
                        </td>

                        <td>
                            @using (Html.BeginForm("Delete", "CRUD", FormMethod.Post, new { @id = "deleteForm-" + item.Id }))
                            {

                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @Html.Hidden("id", item.Id) <!-- Hidden input to pass product ID -->
                                <button type="submit" class="btn btn-danger">Delete</button>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a href="~/Home/Index" class="btn btn-primary">Back To Home</a>
<a href="~/CRUD/Add" class="btn btn-primary">Add Product</a>
